// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Mon Sep  1 17:09:00 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/sjampana/e155/lab1/source/impl_1/lab1_sj.sv"
// file 1 "c:/users/sjampana/e155/lab1/source/impl_1/seven_seg_sj.sv"
// file 2 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 3 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 4 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 5 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 23 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 24 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 37 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 38 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module lab1_sj
//

module lab1_sj (input reset, input [3:0]s, output [2:0]led, output [6:0]seg);
    
    wire reset_c;
    wire s_c_3;
    wire s_c_2;
    wire s_c_1;
    wire s_c_0;
    wire led_c_2;
    wire led_c_1;
    wire led_c_0;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    (* is_clock=1, lineinfo="@0(15[8],15[11])" *) wire clk;
    wire [24:0]counter;
    
    wire GND_net, VCC_net, n188, n350, n348, n346, n344, n821, 
        n342, n340, n338, n800, n189, n281, n797, n818, n32, 
        n29, n28, n791, n794, n27, n535, n815, n26, n10, n531;
    wire [24:0]n105;
    
    wire n358, n356, n354, n352, n812, n809, n806, n788, n336, 
        n803, n785, n280;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(clk));
    defparam hf_osc.CLKHF_DIV = "0b00";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i24 (.D(n105[24]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[24]));
    defparam counter_27__i24.REGSET = "RESET";
    defparam counter_27__i24.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@0(10[28],10[33])" *) LUT4 i24_1_lut (.A(reset_c), 
            .Z(n188));
    defparam i24_1_lut.INIT = "0x5555";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1_2_lut (.A(led_c_2), .B(n280), 
            .Z(n281));
    defparam i1_2_lut.INIT = "0x9999";
    (* lut_function="(!(A (B)))" *) LUT4 i395_2_lut (.A(n280), .B(reset_c), 
            .Z(n189));
    defparam i395_2_lut.INIT = "0x7777";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n348), .CI0(n348), .A1(GND_net), 
            .B1(GND_net), .C1(counter[14]), .D1(n806), .CI1(n806), .CO0(n806), 
            .CO1(n350), .S0(n105[13]), .S1(n105[14]));
    defparam counter_27_add_4_15.INIT0 = "0xc33c";
    defparam counter_27_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n346), .CI0(n346), .A1(GND_net), 
            .B1(GND_net), .C1(counter[12]), .D1(n803), .CI1(n803), .CO0(n803), 
            .CO1(n348), .S0(n105[11]), .S1(n105[12]));
    defparam counter_27_add_4_13.INIT0 = "0xc33c";
    defparam counter_27_add_4_13.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))", lineinfo="@0(34[13],34[32])" *) LUT4 i9_3_lut (.A(counter[1]), 
            .B(counter[18]), .C(counter[5]), .Z(n26));
    defparam i9_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(34[13],34[32])" *) LUT4 i12_4_lut (.A(counter[2]), 
            .B(counter[11]), .C(counter[0]), .D(counter[8]), .Z(n29));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(34[13],34[32])" *) LUT4 i11_4_lut (.A(counter[17]), 
            .B(counter[14]), .C(counter[22]), .D(counter[16]), .Z(n28));
    defparam i11_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[23]), .D0(n358), .CI0(n358), .A1(GND_net), 
            .B1(GND_net), .C1(counter[24]), .D1(n821), .CI1(n821), .CO0(n821), 
            .S0(n105[23]), .S1(n105[24]));
    defparam counter_27_add_4_25.INIT0 = "0xc33c";
    defparam counter_27_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[21]), .D0(n356), .CI0(n356), .A1(GND_net), 
            .B1(GND_net), .C1(counter[22]), .D1(n818), .CI1(n818), .CO0(n818), 
            .CO1(n358), .S0(n105[21]), .S1(n105[22]));
    defparam counter_27_add_4_23.INIT0 = "0xc33c";
    defparam counter_27_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n354), .CI0(n354), .A1(GND_net), 
            .B1(GND_net), .C1(counter[20]), .D1(n815), .CI1(n815), .CO0(n815), 
            .CO1(n356), .S0(n105[19]), .S1(n105[20]));
    defparam counter_27_add_4_21.INIT0 = "0xc33c";
    defparam counter_27_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n352), .CI0(n352), .A1(GND_net), 
            .B1(GND_net), .C1(counter[18]), .D1(n812), .CI1(n812), .CO0(n812), 
            .CO1(n354), .S0(n105[17]), .S1(n105[18]));
    defparam counter_27_add_4_19.INIT0 = "0xc33c";
    defparam counter_27_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n350), .CI0(n350), .A1(GND_net), 
            .B1(GND_net), .C1(counter[16]), .D1(n809), .CI1(n809), .CO0(n809), 
            .CO1(n352), .S0(n105[15]), .S1(n105[16]));
    defparam counter_27_add_4_17.INIT0 = "0xc33c";
    defparam counter_27_add_4_17.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i23 (.D(n105[23]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[23]));
    defparam counter_27__i23.REGSET = "RESET";
    defparam counter_27__i23.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n344), .CI0(n344), .A1(GND_net), 
            .B1(GND_net), .C1(counter[10]), .D1(n800), .CI1(n800), .CO0(n800), 
            .CO1(n346), .S0(n105[9]), .S1(n105[10]));
    defparam counter_27_add_4_11.INIT0 = "0xc33c";
    defparam counter_27_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i22 (.D(n105[22]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[22]));
    defparam counter_27__i22.REGSET = "RESET";
    defparam counter_27__i22.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n342), .CI0(n342), .A1(GND_net), 
            .B1(GND_net), .C1(counter[8]), .D1(n797), .CI1(n797), .CO0(n797), 
            .CO1(n344), .S0(n105[7]), .S1(n105[8]));
    defparam counter_27_add_4_9.INIT0 = "0xc33c";
    defparam counter_27_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n340), .CI0(n340), .A1(GND_net), 
            .B1(GND_net), .C1(counter[6]), .D1(n794), .CI1(n794), .CO0(n794), 
            .CO1(n342), .S0(n105[5]), .S1(n105[6]));
    defparam counter_27_add_4_7.INIT0 = "0xc33c";
    defparam counter_27_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(34[13],34[32])" *) LUT4 i15_4_lut (.A(n29), 
            .B(counter[3]), .C(n26), .D(counter[6]), .Z(n32));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(27[12],40[6])" *) FD1P3XZ \led[2]_i0  (.D(n281), .SP(VCC_net), 
            .CK(clk), .SR(n188), .Q(led_c_2));
    defparam \led[2]_i0 .REGSET = "RESET";
    defparam \led[2]_i0 .SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n338), .CI0(n338), .A1(GND_net), 
            .B1(GND_net), .C1(counter[4]), .D1(n791), .CI1(n791), .CO0(n791), 
            .CO1(n340), .S0(n105[3]), .S1(n105[4]));
    defparam counter_27_add_4_5.INIT0 = "0xc33c";
    defparam counter_27_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(34[13],34[32])" *) LUT4 i10_4_lut (.A(counter[21]), 
            .B(counter[13]), .C(counter[4]), .D(counter[24]), .Z(n27));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[1]), .D0(n336), .CI0(n336), .A1(GND_net), 
            .B1(GND_net), .C1(counter[2]), .D1(n788), .CI1(n788), .CO0(n788), 
            .CO1(n338), .S0(n105[1]), .S1(n105[2]));
    defparam counter_27_add_4_3.INIT0 = "0xc33c";
    defparam counter_27_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i21 (.D(n105[21]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[21]));
    defparam counter_27__i21.REGSET = "RESET";
    defparam counter_27__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i20 (.D(n105[20]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[20]));
    defparam counter_27__i20.REGSET = "RESET";
    defparam counter_27__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i19 (.D(n105[19]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[19]));
    defparam counter_27__i19.REGSET = "RESET";
    defparam counter_27__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i18 (.D(n105[18]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[18]));
    defparam counter_27__i18.REGSET = "RESET";
    defparam counter_27__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i17 (.D(n105[17]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[17]));
    defparam counter_27__i17.REGSET = "RESET";
    defparam counter_27__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i16 (.D(n105[16]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[16]));
    defparam counter_27__i16.REGSET = "RESET";
    defparam counter_27__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i15 (.D(n105[15]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[15]));
    defparam counter_27__i15.REGSET = "RESET";
    defparam counter_27__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i14 (.D(n105[14]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[14]));
    defparam counter_27__i14.REGSET = "RESET";
    defparam counter_27__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i13 (.D(n105[13]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[13]));
    defparam counter_27__i13.REGSET = "RESET";
    defparam counter_27__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i12 (.D(n105[12]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[12]));
    defparam counter_27__i12.REGSET = "RESET";
    defparam counter_27__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i11 (.D(n105[11]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[11]));
    defparam counter_27__i11.REGSET = "RESET";
    defparam counter_27__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i10 (.D(n105[10]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[10]));
    defparam counter_27__i10.REGSET = "RESET";
    defparam counter_27__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i9 (.D(n105[9]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[9]));
    defparam counter_27__i9.REGSET = "RESET";
    defparam counter_27__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i8 (.D(n105[8]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[8]));
    defparam counter_27__i8.REGSET = "RESET";
    defparam counter_27__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i7 (.D(n105[7]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[7]));
    defparam counter_27__i7.REGSET = "RESET";
    defparam counter_27__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i6 (.D(n105[6]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[6]));
    defparam counter_27__i6.REGSET = "RESET";
    defparam counter_27__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i5 (.D(n105[5]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[5]));
    defparam counter_27__i5.REGSET = "RESET";
    defparam counter_27__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i4 (.D(n105[4]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[4]));
    defparam counter_27__i4.REGSET = "RESET";
    defparam counter_27__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i3 (.D(n105[3]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[3]));
    defparam counter_27__i3.REGSET = "RESET";
    defparam counter_27__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i2 (.D(n105[2]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[2]));
    defparam counter_27__i2.REGSET = "RESET";
    defparam counter_27__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i1 (.D(n105[1]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[1]));
    defparam counter_27__i1.REGSET = "RESET";
    defparam counter_27__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[20],39[31])" *) FD1P3XZ counter_27__i0 (.D(n105[0]), 
            .SP(VCC_net), .CK(clk), .SR(n189), .Q(counter[0]));
    defparam counter_27__i0.REGSET = "RESET";
    defparam counter_27__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+((C+(D))+!B))" *) LUT4 i1_4_lut (.A(n27), .B(counter[12]), 
            .C(n32), .D(n28), .Z(n10));
    defparam i1_4_lut.INIT = "0xfffb";
    (* lut_function="(A (B))" *) LUT4 i304_2_lut (.A(counter[10]), .B(counter[7]), 
            .Z(n531));
    defparam i304_2_lut.INIT = "0x8888";
    (* lineinfo="@0(11[20],11[21])" *) IB \s_pad[0]  (.I(s[0]), .O(s_c_0));
    (* lineinfo="@0(11[20],11[21])" *) IB \s_pad[1]  (.I(s[1]), .O(s_c_1));
    (* lineinfo="@0(11[20],11[21])" *) IB \s_pad[2]  (.I(s[2]), .O(s_c_2));
    (* lineinfo="@0(11[20],11[21])" *) IB \s_pad[3]  (.I(s[3]), .O(s_c_3));
    (* lineinfo="@0(10[28],10[33])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@0(13[21],13[24])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@0(13[21],13[24])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@0(13[21],13[24])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@0(13[21],13[24])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@0(13[21],13[24])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@0(13[21],13[24])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@0(13[21],13[24])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@0(12[21],12[24])" *) OB \led_pad[0]  (.I(led_c_0), .O(led[0]));
    (* lineinfo="@0(12[21],12[24])" *) OB \led_pad[1]  (.I(led_c_1), .O(led[1]));
    (* lineinfo="@0(12[21],12[24])" *) OB \led_pad[2]  (.I(led_c_2), .O(led[2]));
    (* lut_function="(A (B (C (D))))" *) LUT4 i308_4_lut (.A(counter[19]), 
            .B(counter[15]), .C(counter[9]), .D(counter[23]), .Z(n535));
    defparam i308_4_lut.INIT = "0x8000";
    (* lut_function="((((D)+!C)+!B)+!A)" *) LUT4 i8_4_lut (.A(n535), .B(n531), 
            .C(counter[20]), .D(n10), .Z(n280));
    defparam i8_4_lut.INIT = "0xff7f";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=25, LSE_LLINE=42, LSE_RLINE=42, lineinfo="@0(42[15],42[25])" *) seven_seg_sj r1 (s_c_0, 
            s_c_1, led_c_0, s_c_3, s_c_2, seg_c_0, seg_c_5, seg_c_6, 
            seg_c_3, seg_c_1, seg_c_2, seg_c_4);
    (* lut_function="(A (B))", lineinfo="@0(19[18],19[29])" *) LUT4 s_c_3_I_0_2_2_lut (.A(s_c_3), 
            .B(s_c_2), .Z(led_c_1));
    defparam s_c_3_I_0_2_2_lut.INIT = "0x8888";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@0(39[20],39[31])" *) FA2 counter_27_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(counter[0]), .D1(n785), .CI1(n785), .CO0(n785), .CO1(n336), 
            .S1(n105[0]));
    defparam counter_27_add_4_1.INIT0 = "0xc33c";
    defparam counter_27_add_4_1.INIT1 = "0xc33c";
    
endmodule

//
// Verilog Description of module seven_seg_sj
//

module seven_seg_sj (input s_c_0, input s_c_1, output led_c_0, input s_c_3, 
            input s_c_2, output seg_c_0, output seg_c_5, output seg_c_6, 
            output seg_c_3, output seg_c_1, output seg_c_2, output seg_c_4);
    
    
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@1(14[3],32[10])" *) LUT4 i91_2_lut (.A(s_c_0), 
            .B(s_c_1), .Z(led_c_0));
    defparam i91_2_lut.INIT = "0x6666";
    (* lut_function="(!(A (B ((D)+!C)+!B !(C (D)+!C !(D)))+!A (B+(C+!(D)))))", lineinfo="@1(14[3],32[10])" *) LUT4 s_c_3_I_0_4_lut (.A(s_c_0), 
            .B(s_c_1), .C(s_c_3), .D(s_c_2), .Z(seg_c_0));
    defparam s_c_3_I_0_4_lut.INIT = "0x2182";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@1(14[3],32[10])" *) LUT4 seg_c_5_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@1(14[3],32[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(s_c_1), 
            .B(s_c_0), .C(s_c_3), .D(s_c_2), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x1805";
    (* lut_function="(A (B (D)+!B !(D))+!A !(B ((D)+!C)+!B (C+!(D))))" *) LUT4 i338_4_lut (.A(s_c_0), 
            .B(s_c_1), .C(s_c_3), .D(s_c_2), .Z(seg_c_3));
    defparam i338_4_lut.INIT = "0x8962";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@1(14[3],32[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_2), .D(s_c_1), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0xd860";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@1(14[3],32[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_1), .D(s_c_2), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@1(14[3],32[10])" *) LUT4 seg_c_4_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_0), .D(s_c_2), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0x3170";
    
endmodule
